@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@400;500;700&display=swap');:root{
   --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);
    --Dark-blue: hsl(212, 24%, 26%);
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--Light-gray);
    font-family: 'Rubik', sans-serif;
}
.subContainer{
    /* border:2px solid green; */
    background-color: var(--White);
    margin:20px;
    border-radius: 8px;
    padding:10px 20px;
}
header{
    display: flex;
    justify-content:flex-start;
    align-items: center ;
    padding:0 0px 20px;
}
header img{
    width:12%;
}
header h2{
    margin:0 15px;
    font-size: 19px;
    color:var(--Dark-blue);
}
header h3{
    font-size: 17px;
    font-weight: 400;
    color:var(--Grayish-Blue)
}
section .content{
    font-size: 16px;
    line-height: 1.5rem;
    color:var(--Grayish-Blue)
}
section aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0 10px;
}
.aside{
    justify-content:space-between;
}
section .scoreBoard,
section .replyBox{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    cursor: pointer;
}
section .scoreBoard{
    background-color: var(--Light-gray);
    padding:5px 10px;
    border-radius: 5px;
}
section .scoreBoard .score,
section h4{
    color:var(--Moderate-blue);
    font-size: 19px;
    font-weight: 500;
    margin:0 12px;
}
section h4{
    font-size: 18px;
}
.replyContainer{
    width:85%;
    margin: 20px 0px 20px 10%;
    
}
.createdReply{
    padding:10px 10px;
    /* border:2px solid green; */
    background-color: var(--White);
    text-align: center;
    border-radius: 10px;
}
.replyContainer textarea{
    width:95%;
    margin:5px 0;
    padding:10px 20px;
    height:100px;
    border:1px solid black;
    font-size: 20px;
    border-radius: 5px;
    color:var(--Grayish-Blue);
}
.createdReply textarea::placeholder{
    font-weight: 700;
}
.createdReply aside{
    margin:0;
    padding:0 20px;
    /* border:2px solid black; */
}
.createdReply img{
    width:17%;
}
.createdReply aside button{
    padding:10px 20px;
    font-size: 20px;
    color:var(--White);
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    background-color: var(--Moderate-blue);
}
.you{
    padding:4px 6px;
    margin:0 10px 0 0;
    border-radius: 5px;
    background-color: var(--Moderate-blue);
    color:var(--White);
}
.deletebox{
    margin:0;
    padding:0;
    /* border:2px solid black; */
}
.menu{
    display: flex;
    align-items: center;
}
.menu .deletebox{
    margin:0 20px 0 0;
    cursor:pointer;
}
.menu .deletebox h4{
    color:var(--Soft-Red)
}
.editBox{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    cursor:pointer;
}
.update{
    padding:15px 0;
    max-width: 100%;
    width:30%;
    font-size: 17px;
    background-color: var(--Moderate-blue);
    color: var(--White);
    border-radius: 5px;
    margin:10px 0 0;
}
.modal{
    display: none;
    width:100%;
    height: 100vh;
    position: fixed;
    top:0;
    background-color:rgba(0, 0, 0, 0.204);
}
.modal-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:90%;
    /* border:2px solid green; */
    background-color: var(--White);
    padding:20px 25px;
    border-radius: 7px;
}
.modal-content h2{
    font-size: 25px;
    color:var(--Dark-blue);
    margin:0 0 10px;
}
.modal-content p{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--Grayish-Blue);
}
.modal-content aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-content aside button{
    border: none;
    outline: none;
    background-color: var(--Dark-blue);
    margin:20px 0 10px;
    padding:20px;
    color:var(--White);
    font-size: 17px;
    font-weight: 600;
    width:48%;
    border-radius: 9px;
}
.modal-content aside button:not(:first-child){
    background-color: var(--Soft-Red);
}
.commentBox{
    background-color: var(--White);
    display: flex;
    /* gap: 20px; */
    padding:20px 20px 80px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}
.commentBox textarea{
    width:100%;
    height:120px;
    margin:10px 0px;
    border:1px solid black;
    border-radius: 5px;
}
.commentBox img{
    position: absolute;
    bottom: 15px;
    width:15%;
}
.commentBox button{
    font-size: 16px;
    padding:15px;
    /* width:30%; */
    background-color: var(--Moderate-blue);
    border-radius: 5px;
    color:var(--White);
    outline: none;
    border:none;
    position: absolute;
    bottom:15px;
    right:16px;
}
@media screen and (min-width:700px) {
    
}